{% extends "user_layout.html" %}

{% block user_body %}
<h1>User: {{ user.id }}</h1>
<form action="{{ request.route_url('user_view_home', uid=user.id) }}" method='POST'>
    <input type="submit" value='cancel' name='cancel'>
</form>

<form action="{{ request.route_url('user_edit', uid=user.id) }}" method='POST'>
    <input type='submit' value='update' name='update'>
    <input type='submit' value='default' name='default'>
</form>
{% endblock %}

