{% extends "user_layout.html" %}

{% block body %}
<h1>User: {{ user.username }}</h1>
<form action="{{ request.route_url('user_home', uid=user.username) }}" method='POST'>
    <input type="submit" value='cancel' name='cancel'>
</form>

<form action="{{ request.route_url('user_edit', uid=user.username) }}" method='POST'>
    <input type='submit' value='update' name='update'>
    <input type='submit' value='default' name='default'>
    <br>
    User name:
    <input type='text' name='name' value='{{ user.name }}'>
    <br>
    Email:
    <input type='text' name='email' value='{{ user.email }}'>
</form>
{% endblock %}

