{% extends "layout.jinja2" %}

{% block user_body -%}

<h1>Create project from file</h1>

 <form action="{{ request.current_route_url() }}" method='POST' enctype="multipart/form-data">

<div class="row">
    <div class="col-md-12">
        <div id="upload_file" class="form-group">
            <label for="upload">Upload some file</label>
            <input id="upload" class="btn btn-default btn-file" name="upload" type="file" value="" />
            <button class="btn btn-warning" type="submit" name="submit_upload">submit</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">Project name</span>
            <input id="project_name" type="text" class="form-control" name="project_name" value="{{ project_name }}" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger" href="{{ request.session['last'] }}">Cancel</a>
    </div>
</div>
</form>

{%- endblock %}

{% block javascripts_end -%}
<script>
    $("#upload").change(function (e) {
        var filename = $("#upload").val();
        filename = filename.substring(0, filename.lastIndexOf('.'));
        filename = filename.replace(" ", "_");
        $("#project_name").val(filename);
    });
</script>

{%- endblock %}
