{% extends "user_layout.html" %}

{% block body %}
<div class="user">
    <div class="row">
      <div class="col-md-2">
        <h1>{{ user.username }}</h1>
      </div>
      <div class="col-md-10">
        <h2>{{ user.name }}</h2>
      </div>
      <div class="col-md-10">
        <h2>{{ user.email }}</h2>
      </div>
    </div>
    <div class="row">
        {% if allow_edit %}
        <form action="{{ request.route_url('user_edit', uid=user.username) }}" method='POST'>
            <input type='submit' value='edit' name='edit'>
        </form>
        {% endif %}
        <p>{% if user.public_profile %}Public{% else %}Private{% endif %}
    </div>
</div>
{% endblock %}
