{% extends "user_layout.html" %}

{% block body %}
<div class="user">
    <div class="row">
      <div class="col-md-2">
        <h1>{{ user.username }}</h1>
      </div>
      <div class="col-md-10">
        <h2>{{ user.name }}</h2>
      </div>
      <div class="col-md-10">
        <h2>{{ user.email }}</h2>
      </div>
    </div>
    <div class="row">
        {% if allow_edit %}
        <div class="right">
            <a href="{{ request.route_url('user_edit', uid=user.username) }}" class="btn btn-sm">
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              Edit profile
            </a>
        </div>
        {% endif %}
        <p>{% if user.public_profile %}Public{% else %}Private{% endif %}
    </div>
    <div class="row">
        <h2>Projects</h2>
        <ul>
        {% for project in user.projects %}
            <li><a href="{{ request.route_url('project_home', uid=user.username, pid=project.name) }}">{{ project.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
