{% extends "user_layout.html" %}

{% block user_body %}
<div class="summary col-md-3">
    <div class="row">
        <img src="{{ request.static_url('seeweb:static/avatar.jpg') }}">
    </div>
    <div class="row">
        <h1>{{ user.id }}</h1>
    </div>
    {% if allow_edit %}
    <div class="row">
        Profile: {% if user.public_profile %}Public{% else %}Private{% endif %}
        <a class="btn btn-default pull-right" href="{{ request.route_url('user_edit', uid=user.id) }}">
          <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
          Edit profile
        </a>
    </div>
    {% endif %}
</div>
<div class="content col-md-9">
<ul class="nav nav-tabs">
  <li role="presentation" {% if tab == 0 %}class="active"{% endif %}><a href="{{ request.route_url('user_home', uid=user.id, _query={'tab': 0}) }}">Home</a></li>
  <li role="presentation" {% if tab == 1 %}class="active"{% endif %}><a href="{{ request.route_url('user_home', uid=user.id, _query={'tab': 1}) }}">Projects</a></li>
</ul>

{% if tab == 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent projects</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
{% endif %}

{% if tab == 1 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Owned</h3>
  </div>
  <div class="panel-body projects">
    {% if projects|length == 0 %}
    <div class="row">
        {% if allow_edit %}
        None yet. Create one?
        {% else %}
        This user has no public project.
        {% endif %}
    </div>
    {% else %}
    {% for role, project in projects %}
        <div class="row pjt-summary">
            <a href="{{ request.route_url('project_home', uid=user.id, pid=project.id) }}">{{ project.id }}</a>
            {% if role == 2 %}
            <a class="btn btn-default pull-right" href="{{ request.route_url('project_edit', uid=project.owner, pid=project.id) }}">
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              Edit project
            </a>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}

</div>

{% endblock %}
