{% extends "layout.jinja2" %}

{% block user_body %}
<div class="row user_header">
    <div class="col-md-3 avatar">
        <a href="{{ request.route_url('user_view_home', uid=user.id) }}">
            <img class="img-rounded" src="{{ request.static_url('seeweb:data/avatar/user/%s.png' % user.id) }}" />
        </a>
    </div>
    <div class="col-md-9 name">
        <div class="h1">{{ user.id }}</div>
        <div class="h2">{{ user.name }}</div>
        <div class="spacer"></div>
        {% if allow_edit %}
            <a class="btn btn-default pull-right" href="#">
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              Edit profile
            </a>
        {% endif %}
        <ul class="nav nav-tabs">
            {% for tab_title, tab_id in tabs %}
                <li role="presentation" {% if tab_id == tab %}class="active"{% endif %}><a href="{{ request.route_url('user_view_%s' % tab_id, uid=user.id) }}">{{ tab_title }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>


<div class="row view_body">
    <div class="col-md-9 col-md-offset-3">
        {% block user_view_body %}
        {% endblock %}
    </div>
</div>

{% endblock %}
