{% extends "layout.jinja2" %}

{% block user_body -%}

<h1>Clone project from remote host</h1>

 <form action="{{ request.current_route_url() }}" method='POST'>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-warning pull-right" type="submit">Clone</button>
        <div class="input-group">
            <span class="input-group-addon">url</span>
            <input id="src_url" type="text" class="form-control" name="src_url" {% if src_url %}value="{{ src_url }}"
            {% else %}placeholder="url of project to clone e.g. https://github.com/revesansparole/seeweb.git"{% endif %}/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">Project name</span>
            <input id="project_name" type="text" class="form-control" name="project_name" value="{{ project_name }}" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger" href="{{ request.session['last'] }}">Cancel</a>
    </div>
</div>
</form>

{%- endblock %}

{% block javascripts_end -%}
<script>
    $("#src_url").on('input', function (e) {
        var txt = $("#src_url").val();
        //remove first elements of path
        txt = txt.substring(txt.lastIndexOf('/') + 1, txt.length);
        //remove .git
        txt = txt.substring(0, txt.lastIndexOf('.'))
        $("#project_name").val(txt);
    });
</script>

{%- endblock %}
