{% extends "user_view.html" %}

{% block user_view_body %}

<div class="panel panel-default">
  <div class="panel-body teams">
    <div class="row pjt-summary">
        <form action="{{ request.route_url('user_view_teams', uid=user.id) }}" method='POST'>
            <div class="form-group">
                <button class="btn btn-primary pull-right" type="submit" name="new_team">Create</button>
                <input type='text' name='team_id' placeholder='new team id'>
            </div>
        </form>
    </div>
    {% if teams|length == 0 %}
    <div class="row">
        This user does not belong to any public team.
    </div>
    {% else %}
    {% for role, team in teams %}
        <div class="row pjt-summary">
            <a href="{{ request.route_url('team_view_home', tid=team.id) }}">{{ team.id }}</a>
            {% if role == 2 %}
            <a class="btn btn-default pull-right" href="{{ request.route_url('team_edit_home', tid=team.id) }}">
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              Edit team
            </a>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
