{% extends "user_view.html" %}

{% block user_view_body %}

{% if description == "" %}
    <p>No description available</p>
{% else %}
    <div class="row">
        <div class="col-md-12">
            {{ description }}
        </div>
    </div>
{% endif %}

{% endblock %}
