{% from 'templates/comment/macro.jinja2' import comment_edit_form %}

{% extends "layout_edit.jinja2" %}

{% block comment_edit_body %}
<h1>Score comment</h1>
<h2>{{ vote }}</h2>

{{ comment_edit_form(request, comment.author, comment.project, comment.message, comment.format_ratings(), False) }}
<input type="hidden" name="{{ vote }}">

{% endblock %}
