{% extends "layout.jinja2" %}

{% block comment_body %}
<form action="{{ request.current_route_url() }}" method='POST'>

<div class="col-md-12">
    {% block comment_edit_body %}
    {% endblock %}
</div>

<a href="{{ from }}" class="btn btn-default">Cancel</a>
<input type="submit" class="btn btn-primary" name="validate" value="validate" />
</form>

{% endblock %}
