{% extends "templates/layout.jinja2" %}

{% block css %}
    <link href="{{request.static_url('seeweb:static/css/comment_theme.css')}}" rel="stylesheet">
    <link href="{{request.static_url('seeweb:static/css/bootstrap-rating.css')}}" rel="stylesheet">
    {% block comment_css %}
    {% endblock comment_css %}
{% endblock %}

{% block body %}
    {% block comment_body %}
    {% endblock %}
{% endblock %}

{% block javascripts_end %}
    <script type="text/javascript" src="bower_components/bootstrap/js/tooltip.js"></script>
    <script type="text/javascript" src="{{ request.static_url('seeweb:static/js/bootstrap-rating.js') }}"></script>
    <script>
        $(function () {
            $('.rating-tooltip').rating({
              extendSymbol: function (rate) {
                $(this).tooltip({
                  container: 'body',
                  placement: 'bottom',
                  title: 'Rate ' + rate
                });
              }
            });
        });
    </script>
{% endblock %}
