{% macro list_comments(comments) -%}
{% for comment in comments %}
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-1">
                <a type="button" class="btn btn-success" data-toggle="tooltip" title="Useful comment!"
                    href="{{ request.route_url('comment_edit_rating', cid=comment.id, vote='up') }}">
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <div class="rating">{{ comment.rating }}</div>
                <a type="button" class="btn btn-warning" data-toggle="tooltip" title="Useless comment!"
                    href="{{ request.route_url('comment_edit_rating', cid=comment.id, vote='down') }}">
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <p class="col-md-12">Posted by <a href="{{ request.route_url('user_view_home', uid=comment.author) }}">{{ comment.author }}</a> on {{ comment.creation }}</p>
                </div>
                <div class=row>
                    <div class="col-md-12">
                        {{ comment.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{%- endmacro %}


{% macro comment_edit_item(author) -%}
<div class="list-group-item">
    <form action="{{ request.route_url('comment_edit_new') }}" method='POST'>
        <input type="hidden" name="author" value="{{ author }}"/>
        <input type="hidden" name="project" value="{{ project.id }}"/>
        <div class=row>
            <div class="col-md-7">
                <div class="form-group">
                  <textarea class="form-control" rows="5" name='text' placeholder="New comment"></textarea>
                </div>
            </div>
            <div class="col-md-5">
                {% for name, rating in ratings %}
                    <div class="form-inline">
                      <div class="form-group">
                        <label>{{ name }}:</label>
                        <input type="hidden" class="rating-tooltip" data-fractions="2" value="2.5">
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default glyphicon glyphicon-edit pull-right" type="submit" name="new_comment">Submit</button>
                <p>Posted by {{ author }}</p>
                <p>for project {{ project.id }}</p>
            </div>
        </div>
    </form>
</div>
{%- endmacro %}