{% from 'templates/project/content_item.jinja2' import content_item_condensed with context %}

{% extends "templates/project/layout_content.jinja2" %}

{% block project_content_body -%}

<h1>Workflows using this node</h1>

{% for item in workflows %}
    {{ content_item_condensed(item) }}
{% endfor %}

{%- endblock %}
