{% extends "templates/project/layout_content.jinja2" %}

{% block project_content_css -%}

<link href="{{ request.static_url('seeweb:project/content/script/static/style.css') }}" rel="stylesheet">

{%- endblock %}

{% block project_content_body -%}

<p>{{ cnt_item.html_description()|safe }}</p>
<p>Language: {{ cnt_def['language'] }}</p>
<p>source:</p>
<pre id="source" class="prettyprint">{{ cnt_def['source'] }}</pre>

{% if installed %}
    <div id="execute">
        <button id="launch" class="btn btn-warning">execute</button>
        <div id="result"></div>
    </div>
{% endif %}

{%- endblock %}

{% block project_content_js -%}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

{% if installed %}
<script>
    $('#execute #launch').click(function (e) {
        $('#execute #result').html('awaiting...');
        $.get("{{ request.route_url('project_content_script_execute', pid=project.id, cid=cnt_item.id) }}",
              {},
              function(data) {
              $('#execute #result').empty();
                $('#execute #result').append("<div class='well'><pre>" + data['stdout'] + "</pre></div>");
              },
              "json"
        );
        e.preventDefault();
    });

</script>
{% endif %}

{%- endblock %}
