{% extends "templates/project/layout_content.jinja2" %}

{% block project_content_css -%}

<link href="{{ request.static_url('seeweb:project/content/script/static/style.css') }}" rel="stylesheet">

{%- endblock %}

{% block project_content_body -%}

<p>{{ cnt_item.html_description()|safe }}</p>
<p>Language: {{ cnt_def['language'] }}</p>
<p>source:</p>
<pre id="source" class="prettyprint">{{ cnt_def['source'] }}</pre>

{% if installed %}
    <div>
        <button id="execute_launch" class="btn btn-warning">execute</button>
    </div>
    <div id="execute_return">
        <p>Result</p>
    </div>
{% endif %}

{%- endblock %}

{% block project_content_js -%}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

{% if installed %}
<script>
    window.onload = function() {
        $('#execute_return').html('loaded');
    }

    $('#execute_launch').click(function (e) {
        $('#execute_return').html('awaiting...');
        $.get("{{ request.route_url('project_content_script_execute', pid=project.id, cid=cnt_item.id) }}",
              {},
              function(data) {
                $('#execute_return').html('page content: ' + data);
                //$('#execute_return').html('finished');
              },
              "html"
        );
        e.preventDefault();
    });

</script>
{% endif %}

{%- endblock %}
