{% extends "templates/project/layout_content.jinja2" %}

{% block project_content_body -%}

<p>{{ cnt_item.html_description()|safe }}</p>
<p>Language: {{ cnt_def['language'] }}</p>
<p>source:</p>
<pre>{{ cnt_def['source'] }}</pre>

{%- endblock %}
