{% extends "layout.jinja2" %}

{% block ro_css -%}

<link href="{{request.static_url('seeweb:static/css/pretty-json.css')}}" rel="stylesheet">

{%- endblock %}

{% block ro_body -%}

<div id="content" class="row">
    <div class="col-md-2">
            {% if allow_edit %}
                <a class="btn btn-default pull-right" href="{{ request.route_url('ro_edit_home', uid=ro.id) }}">
                  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                  Edit
                </a>
            {% endif %}
        <div class="row">
            <a href="{{ request.route_url('ro_view_home', uid=ro.id) }}">
                <img class="img-rounded" src="{{ request.static_url('seeweb:data/avatar/ro/%s_small.png' % ro.id) }}" />
            </a>
            {{ ro.title }}
        </div>
        <div class="row">
            <p class="small">{{ ro.id }}</p>
        </div>
        <div class="row">
            {% if tabs|length > 0 %}
                <ul class="nav nav-pills nav-stacked nav-sidebar">
                    {% for tab_title, tab_id in tabs %}
                        <li role="presentation" {% if tab_id == tab %}class="active"{% endif %}><a href="{{ request.route_url('user_view_%s' % tab_id, uid=user.id) }}">{{ tab_title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-md-10">
        {% block ro_view_body %}
        {% endblock %}
        <div id="cnt_debug" class="well debug">
        </div>
    </div>
</div>

{%- endblock %}

{% block ro_js -%}

<script src="{{ request.static_url('seeweb:static/js/underscore-min.js') }}">
</script>

<script src="{{ request.static_url('seeweb:static/js/backbone-min.js') }}">
</script>

<script src="{{ request.static_url('seeweb:static/js/pretty-json-min.js') }}">
</script>

<script>
    //obj to render.
    var obj = {{ ro.definition|safe }};

    var node = new PrettyJSON.view.Node({
      el:$('#cnt_debug'),
      data:obj
    });
</script>

{% block ro_content_js %}
{% endblock %}

{%- endblock %}