{% from 'macro.jinja2' import roid with context %}
{% from 'macro.jinja2' import roicon with context %}

{% extends "layout.jinja2" %}

{% block ro_body %}

<div class="row">
    <a class="btn btn-warning pull-right" href="{{ request.route_url('ro_create') }}">Create</a>
    <a class="btn btn-default" href="{{ request.route_url('ro_list') }}">All</a>
    <a class="btn btn-default" href="{{ request.route_url('ro_list', _query={'type': 'container'}) }}">Containers</a>
    <a class="btn btn-default" href="{{ request.route_url('ro_list', _query={'type': 'article'}) }}">Articles</a>
</div>

<div class="row">
    {% if ros|length == 0 %}
    <h2>No Research Object to be seen</h2>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ro</th>
              <th>name</th>
              <th>#</th>
              <th>type</th>
              <th>creator</th>
              <th>creation date</th>
              <th>your role</th>
              <th>actors</th>
            </tr>
          </thead>
          <tbody>
            {% for role, ro in ros %}
            <tr>
              <td>{{ roid(ro.id) }}</td>
              <td>{{ ro.name|truncate(15) }}</td>
              <td>{{ roicon(ro.id) }}</td>
              <td>{{ ro.type }}</td>
              <td>{{ ro.creator }}</td>
              <td>{{ ro.created.isoformat() }}</td>
              <td>{{ role }}</td>
              <td>
                <select>
                    {% for pol in ro.auth %}
                    <option>{{ pol.actor }}</option>
                    {% endfor %}
                </select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}

