{% macro roid(uid) -%}
<a href="{{ request.route_url('ro_view_home', uid=uid) }}">&lt{{ uid[:8] }}&gt</a>
{%- endmacro %}


{% macro roicon(uid) -%}
<img class="tiny" src="{{ request.static_url('seeweb:data/avatar/ro/%s_small.png' % uid) }}" />
{%- endmacro %}


{% macro reciprocate(verb) -%}
{% if verb == 'consume' %}
is consumed by
{% elif verb == 'contains' %}
is contained in
{% elif verb == 'is_ancestor_of' %}
has for ancestor
{% elif verb == 'produce' %}
is produced by
{% elif verb == 'use' %}
is used by
{% else %}
tugudu
{% endif %}
{%- endmacro %}