{% extends "layout_view.jinja2" %}

{% block ro_view_body -%}
<h2>{{ ro_type }}</h2>
{% if description == "" %}
    <p>No description available</p>
{% else %}
    {{ description }}
{% endif %}

{%- endblock %}
