{% from 'macro.jinja2' import roid with context %}

{% extends "layout_view.jinja2" %}

{% block ro_view_body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
    </div>
    <div class="panel-body">
        {% if links|length == 0 %}
            <div class="row">
                <p>This research objects has no links.</p>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>source</th>
                      <th>type</th>
                      <th>target</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for source, type, target in links %}
                    <tr>
                      <td>
                        {% if source == "self" %}
                            {{ source }}
                        {% else %}
                            {{ roid(source) }}
                        {% endif %}
                      </td>
                      <td>{{ type }}</td>
                      <td>
                        {% if target == "self" %}
                            {{ target }}
                        {% else %}
                            {{ roid(target) }}
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>


{%- endblock %}
