{% extends "templates/ro/layout_view_min.jinja2" %}

{% block ro_view_body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
        {% if description == "" %}
            <div class="row">
                <p>No description available</p>
            </div>
        {% else %}
            {{ description }}
        {% endif %}
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Value</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <pre>{{ value }}</pre>
        </div>
    </div>
</div>

{%- endblock %}
