{% from 'templates/ro/macro.jinja2' import roid with context %}
{% from 'templates/ro/macro.jinja2' import roicon with context %}

{% extends "templates/ro/layout_view_min.jinja2" %}

{% block ro_view_body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ ro.ctype }}</h3>
    </div>
    <div class="panel-body">
        {% if description == "" %}
            <div class="row">
                <p>No description available</p>
            </div>
        {% else %}
            {{ description }}
        {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Content</h3>
    </div>
    <div class="panel-body">
        {% if content|length == 0 %}
            <div class="row">
                <p>This container is empty.</p>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>#</th>
                      <th>type</th>
                      <th>name</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in content %}
                    <tr>
                        <td>{{ roid(item.id) }}</td>
                        <td>{{ roicon(item.id) }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        {% endif %}
        {% if allow_edit %}
            <form action="{{ request.current_route_url() }}" method='POST'>
                <div class="form-group">
                    <button class="btn btn-primary pull-right" type="submit" name="new_content">Append</button>
                    <input type='text' name='ro_id' placeholder='RO id' />
                </div>
            </form>
        {% endif %}
    </div>
</div>

{%- endblock %}
