#notebook .cell {
}

#notebook .cell .source p {
    margin-bottom: 0;
}

#notebook .code .source {
    padding: 0.4em;
}

#notebook .code .outputs {
    padding: 0.4em;
    background: #ffffff;
}

#notebook .code .outputs .stream {
}

#notebook .code .outputs .stream p {
    margin-bottom: 0;
}

#notebook .code .outputs .error {
}

#notebook .code .outputs .error p {
    margin-bottom: 0;
    color: #00aa00;
}

#notebook .code .outputs .error .ename {
    color: #aa0000;
}

#notebook .code .outputs .error .evalue {
    color: #cccc00;
}

#notebook .code .outputs .display_data {
}

#notebook .code .outputs .execute_result {
}
