
#notebook .cell .code {
    padding: 0.4em;
    background: #eeeeee;
    border: solid 1px #aaaaaa;
}

#notebook .cell .code p {
    margin-bottom: 0;
}

#notebook .cell .outputs {
    padding: 0.4em;
    background: #ffffff;
}

#notebook .cell .outputs .stream{
}

#notebook .cell .outputs .error{
    background: #ffdddd;
}
