{% extends "templates/layout.jinja2" %}

{% block css %}
    <link href="{{request.static_url('seeweb:static/css/admin_theme.css')}}"
          rel="stylesheet">
{% endblock css %}

{% block body %}
{% if users is defined %}
<form action="{{ request.route_url('admin_users') }}" method='POST'>
{% elif teams is defined %}
<form action="{{ request.route_url('admin_teams') }}" method='POST'>
{% endif %}

<div class="col-md-2 sidebar">
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li role="presentation" {% if users is defined %}class="active" {% endif %}>
            <a href="{{ request.route_url('admin_users') }}">Users</a>
        </li>
        <li role="presentation" {% if teams is defined %}class="active" {% endif %}>
            <a href="{{ request.route_url('admin_teams') }}">Teams</a>
        </li>
        {% block side %}
        {% endblock %}
    </ul>
    <button class="btn btn-danger" name="delete">Delete</button>

</div>
<div class="col-md-10">
    {% block admin_body %}
    {% endblock %}
</div>

</form>

{% endblock %}
