{% extends "layout.jinja2" %}

{% block admin_body %}
    <div class="row">
        <div class="col-md-12">
            {% if search_pattern == "" %}
            <h1>All projects</h1>
            {% else %}
            <h1>Projects starting with: '{{ search_pattern }}' <span class='small'><a class="btn btn-default" href="{{ request.route_url('admin_projects') }}">All</a></span></h1>
            {% endif %}
        </div>
    </div>

    {% if projects|length == 0 %}
    <h2>No project found</h2>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>owner</th>
              <th>visibility</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td><input type="checkbox" name="select_{{ project.id }}" /></td>
              <td><a href="{{ request.route_url('project_view_home', pid=project.id) }}">{{ project.id }}</a></td>
              <td><a href="{{ request.route_url('user_view_home', uid=project.owner) }}">{{ project.owner }}</a></td>
              <td>{% if project.public %}public{% else %}private{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

