{% extends "admin_layout.html" %}

{% block admin_body %}
    {% if search_pattern == "" %}
    <h1>All Projects</h1>
    {% else %}
    <h1>Projects starting with: '{{ search_pattern }}'</h1>
    {% endif %}

    {% if search_pattern != "" %}
        <button type="all" class="btn btn-default" name="all">Display all</button>
    {% endif %}

    {% if projects|length == 0 %}
    <h2>No project found</h2>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>owner</th>
              <th>visibility</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td><input type="checkbox" name="select_{{ project.id }}""></td>
              <td><a href="{{ request.route_url('project_view_home', pid=project.id) }}">{{ project.id }}</a></td>
              <td><a href="{{ request.route_url('user_view_home', uid=project.owner) }}">{{ project.owner }}</a></td>
              <td>{% if project.public %}public{% else %}private{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

