{% extends "admin_layout.html" %}
{% block body %}
    {% if search_pattern == "" %}
    <h1>All Users</h1>
    {% else %}
    <h1>Users starting with: '{{ search_pattern[:-1] }}'</h1>
    <a href="{{ request.route_url('users_admin') }}">all</a>
    {% endif %}

  <form action="{{ request.route_url('users_admin') }}" method="post" name="search">
    <p>
        Please enter query: <br>
        <input type="text" name="query">
    </p>
    <p><input type="submit" value="Search"></p>
  </form>

    <div class="users">
        {% for user in users %}
            <div class="row {{ user.parity }}">
                <!-- avatar
                <div class="col-md-2">
                    <img src="http://www.gravatar.com/avatar/{{ user.md5() }}" />
                </div> -->
                <!-- name -->
                <div class="col-md-4">
                    <a href="{{ request.route_url('user_edit', uid=user.username) }}">{{ user.username }}</a>
                </div>
                <div class="col-md-6">
                    <a href="{{ request.route_url('user_edit', uid=user.username) }}">{{ user.email }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

