{% extends "admin_layout.html" %}

{% block admin_body %}
    {% if search_pattern == "" %}
    <h1>All Users</h1>
    {% else %}
    <h1>Users starting with: '{{ search_pattern }}'</h1>
    {% endif %}

    {% if search_pattern != "" %}
        <button type="all" class="btn btn-default" name="all">Display all</button>
    {% endif %}

    {% if users|length == 0 %}
    <h2>No user found</h2>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>user</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td><input type="checkbox"></td>
              <td><a href="{{ request.route_url('user_view_home', uid=user.id) }}">{{ user.id }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

