@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #bc2131;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.main-body {
    background: #999999;
}

.footer {
    border-top: 1px solid #000000;
    margin-top: 1em;
    padding: 1em;
    background: #000000;
    color: #aaaaaa;
}

.copyright {
  font-size: 0.9em;
  color: #a2b7bd;
}

form.form-signin {
    width: 300px;
}

form.form-signin input {
    margin: 0 0 0.2em 0;
}