{% from 'macro.jinja2' import edit_gallery_item with context %}

{% extends "layout_edit.jinja2" %}

{% block project_edit_body -%}

<div id="edit_avatar" class="form-group">
    <label for="avatar">Load avatar</label>
    <input id="avatar" class="btn btn-default btn-file" name="avatar" type="file" value="" />
    <button class="btn btn-default" type="submit" name="submit_avatar">submit</button>
</div>

<div class="form-group">
    <label for="descr">Description:</label>
    <textarea class="form-control" rows="20" id="descr" name='description' {% if project.description == "" %}placeholder='write some description in restructured text here'{% endif %}>
        {{ project.description }}
    </textarea>
</div>

<div class="row" id="gallery">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gallery</h3>
          </div>
          <div class="panel-body">
            {% if gallery|length == 0 %}
                <p>Empty gallery</p>
            {% else %}
                <div class="row">
                    {% for item in gallery %}
                        {{ edit_gallery_item(item) }}
                    {% endfor %}
                </div>
            {% endif %}
          </div>
         </div>
    </div>
</div>

{%- endblock %}
