{% extends "project_edit.html" %}

{% block project_edit_body %}
<div class="form-group">
    <label>hosts:</label>
    {% for hostname in src_hosts %}
        <button class="btn" type="submit" name="{{ hostname }}">{{ hostname }}</button>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">url</span>
            <input type="text" class="form-control" id="src_url" name="src_url" value="{{ project.src_url }}" />
        </div>
    </div>
</div>
{% endblock %}
