{% extends "project_layout.html" %}

{% block project_body %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ request.static_url('seeweb:avatar/project/%s.png' % project.id) }}">
        </div>
        <div class="col-md-9">
            <h1>{{ project.id }}</h1>
            <h2>Sure you want to delete?</h2>
            <p>This action is definitive</p>
            <form action="{{ request.route_url('project_edit_delete', pid=project.id) }}" method="POST">
                <button class="btn btn-default" type="submit" name="cancel">Cancel</button>
                <button class="btn btn-warning" type="submit" name="delete">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
