{% extends "layout_edit.jinja2" %}

{% block project_edit_body %}
<div class="form-group">
    <label for="avatar">Load avatar</label>
    <input id="avatar" name="avatar" type="file" value="" />
    <input type="submit" value="submit" name="submit_avatar" />
</div>

<div class="form-group">
  <label for="descr">Description:</label>
  <textarea class="form-control" rows="20" id="descr" name='description' {% if project.description == "" %}placeholder='write some description in restructured text here'{% endif %}>{{ project.description }}</textarea>
</div>
{% endblock %}
