{% extends "layout_edit.jinja2" %}

{% block project_edit_body -%}

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-warning pull-right" data-toggle="modal" data-target="#confirm_fetch_src">Fetch</button>
        <div class="input-group">
            <span class="input-group-addon">url</span>
            <input type="text" class="form-control" id="src_url" name="src_url" value="{{ project.src_url }}" />
        </div>
    </div>
</div>

<div class="row host_list">
    <div class="col-md-12">
        <div class="form-group">
            <label>hosts:</label>
            {% for hostname in src_hosts %}
                <button class="btn btn-{% if hostname == current_hostname %}primary{% else %}default{%endif%}" type="submit" name="{{ hostname }}" {% if hostname == current_hostname %}disabled{% endif %}>
                    {{ hostname }}
                    <img src="{{request.static_url('seeweb:static/src_host/%s.png' % hostname) }}" />
                </button>
            {% endfor %}
        </div>
    </div>
</div>
<div id="host_local" class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>local:</label>
            <input class="btn btn-default btn-file" type="file" name="local_file" />
            <button class="btn btn-warning" type="submit" name="submit_local">submit</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="confirm_fetch_src" class="modal fade" role="dialog" data-keyboard="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About to fetch sources</h4>
      </div>
      <div class="modal-body">
        <p>You're about to fetch sources from:</p>
        <p>{{ project.src_url }}</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="confirm_fetch_src">Confirm</a>
        <button type="button" class="btn btn-default" data-dismiss="modal" name="cancel_fetch">Cancel</button>
      </div>
    </div>

  </div>
</div>

{%- endblock %}
