{% extends "project_edit.html" %}

{% block project_edit_body %}
  <div class="form-group">
    <label>hosts:</label>
    {% for hostname in doc_hosts %}
        <button class="btn" type="submit" name="{{ hostname }}">{{ hostname }}</button>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn pull-right" name="fetch_doc">Fetch</button>
        <div class="input-group">
            <span class="input-group-addon">url</span>
            <input type="text" class="form-control" id="doc_url" name="doc_url" value="{{ project.doc_url }}" />
        </div>
    </div>
</div>
<div class="form-group">
  <label for="doc">Documentation:</label>
  <textarea class="form-control" rows="20" id="doc" name='documentation' {% if project.doc == "" %}placeholder='write some documentation in restructured text here'{% endif %}>{{ project.doc }}</textarea>
</div>
{% endblock %}
