{% extends "layout_edit.jinja2" %}

{% block project_edit_body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Registered</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>user</th>
              <th>role</th>
              <th>action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    <input type='text' name='new_member' placeholder='new user id'>
                </td>
                <td>
                    <select name="role_new">
                        <option value="denied">denied</option>
                        <option value="view" selected>view</option>
                        <option value="install">install</option>
                        <option value="edit">edit</option>
                    </select>
                </td>
                <td></td>
            </tr>
            {% for type, role, uid in members %}
            <tr>
              <td>
                {% if type == 'user' %}
                    <a href="{{ request.route_url('user_view_home', uid=uid) }}">{{ uid }}</a>
                {% elif type == 'team' %}
                    <a href="{{ request.route_url('team_view_members', tid=uid) }}">{{ uid }}</a>
                {% else %}
                    unknown
                {% endif %}
              </td>
              <td>
                <select name="role_{{ uid }}">
                    <option value="denied" {% if role == 0 %}selected{% endif %}>denied</option>
                    <option value="view" {% if role == 1 %}selected{% endif %}>view</option>
                    <option value="install" {% if role == 2 %}selected{% endif %}>install</option>
                    <option value="edit" {% if role == 3 %}selected{% endif %}>edit</option>
                </select>
              </td>
              <td>
                <div class="input-group">
                    <button class="btn glyphicon glyphicon-trash" type="submit" name="rm_{{ uid }}"></button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}
