{% extends "project_layout.html" %}

{% block project_body %}
<div class="project">
<h1>{{ project.id }}</h1>
<form action="{{ request.route_url('project_home', pid=project.id) }}" method='POST'>
    <input type="submit" value='cancel' name='cancel'>
</form>
    <div class="row">
        <h2>Visibility</h1>
        <p>{% if project.public %}Public{% else %}Private{% endif %}
    </div>
<form action="{{ request.route_url('project_edit', pid=project.id) }}" method='POST'>
    <input type='submit' value='update' name='update'>
    <input type='submit' value='default' name='default'>
    <br>
    <span class="input-group-addon">
        <input type="checkbox" value="visibility" name="visibility" {% if project.public %}checked{% endif %}> Visibility
    </span>
</form>
</div>
{% endblock %}
