{% extends "project_layout.html" %}

{% block project_body %}
<div class="project">
    <div class="row">
      <div class="col-md-2">
        <h1>{{ project.id }}</h1>
      </div>
        {% if allow_edit %}
        <div class="right">
            <a href="{{ request.route_url('project_edit', uid=project.owner, pid=project.id) }}" class="btn btn-sm">
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              Edit project
            </a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <h2>Visibility</h1>
        <p>{% if project.public %}Public{% else %}Private{% endif %}
    </div>
</div>
{% endblock %}
