{% extends "layout.jinja2" %}

{% block project_body -%}

<div id="header" class="row">
    <div class="partner-table">
        <div class="col-md-3 partner avatar">
            <a href="{{ request.route_url('project_view_home', pid=project.id) }}">
                <img class="img-rounded center-block" src="{{ request.static_url('seeweb:data/avatar/project/%s.png' % project.id) }}" />
            </a>
        </div>
        <div class="col-md-9 partner description">
            <div class="owner pull-right">
                <p>Owner: <a href="{{ request.route_url('user_view_home', uid=project.owner) }}">{{ project.owner }}</a></p>
                <p>Visibility: {% if project.public %}Public{% else %}Private{% endif %}</p>
            </div>
            <div class="h1">{{ project.id }}</div>
            <div class="spacer"></div>
            {% for name, rating in ratings %}
                <div class="form-inline">
                  <div class="form-group">
                    <label>{{ name }}:</label>
                    <input type="hidden" class="rating-tooltip" data-fractions="2" data-readonly value="{{ rating }}" />
                  </div>
                </div>
            {% endfor %}

            {% if install_action == 'install' %}
                <a class="btn btn-warning pull-right" href="{{ request.route_url('project_install', pid=project.id) }}">
                  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                  Install project
                </a>
            {% elif install_action == 'uninstall' %}
                <a class="btn btn-warning pull-right" href="{{ request.route_url('project_uninstall', pid=project.id) }}">
                  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                  Uninstall project
                </a>
            {% endif %}
            {% if allow_edit %}
                <a class="btn btn-default pull-right" href="{{ request.route_url('project_edit_%s' % tab, pid=project.id) }}">
                  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                  Edit project
                </a>
            {% endif %}
            <ul class="nav nav-tabs">
                {% for tab_title, tab_id in tabs %}
                    <li role="presentation" {% if tab_id == tab %}class="active"{% endif %}><a href="{{ request.route_url('project_view_%s' % tab_id, pid=project.id) }}">{{ tab_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div id="content" class="row">
    <div class="col-md-3">
        {% if sections|length > 0 %}
            <ul class="nav nav-pills nav-stacked nav-sidebar">
                <li role="presentation">
                    <a href="{{ request.route_url('project_view_%s' % tab, pid=project.id) }}">Top</a>
                </li>
                {% for section in sections %}
                    <li role="presentation">
                        <a href="{{ request.route_url('project_view_%s' % tab, pid=project.id, _anchor='%s' % section) }}">{{ section }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-9">
        {% block project_view_body %}
        {% endblock %}
    </div>
</div>

{%- endblock %}
