{% extends "project_layout.html" %}

{% block project_body %}
    {% if search_pattern == "" %}
    <h1>All Projects</h1>
    {% else %}
    <h1>Projects starting with: '{{ search_pattern[:-1] }}'</h1>
    {% endif %}

    <form class="form-inline" role="search" action="{{ request.route_url('project_list') }}">
        <div class="form-group">
          <input type="text" class="form-control" name="query" placeholder="Search for name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        {% if search_pattern != "" %}
        <button type="all" class="btn btn-default" name="all">Display all</button>
        {% endif %}
    </form>

    {% if projects|length == 0 %}
    <h2>No project found</h2>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>owner</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td><input type="checkbox"></td>
              <td>
                <a href="{{ request.route_url('project_home', uid=project.owner, pid=project.name) }}">{{ project.name }}</a>
              </td>
              <td>{{ project.owner }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

