{% macro project_condensed(project, msg) -%}

<div class="project condensed">
    <div class="avatar">
        <a href="{{ request.route_url('project_view_home', pid=project.id) }}">
            <img class="img-circle" src="{{ request.static_url('seeweb:data/avatar/project/%s_small.png' % project.id) }}" />
        </a>
    </div>
    <div class="description">
        <p>
            <a href="{{ request.route_url('project_view_home', pid=project.id) }}">{{ project.id }}</a>
        </p>
        {% if msg|length > 0 %}
            <p>{{ msg }}</p>
        {% endif %}
    </div>
</div>

{%- endmacro %}


{% macro project_fake(name, msg) -%}

<div class="project condensed">
    <div class="avatar">
        <a href="#">
            <img class="img-circle" src="{{ request.static_url('seeweb:static/external_project_avatar.png') }}" />
        </a>
    </div>
    <div class="description">
        <p>
            <a href="#">{{ name }}</a>
        </p>
        {% if msg|length > 0 %}
            <p>{{ msg }}</p>
        {% endif %}
    </div>
</div>

{%- endmacro %}


{% macro gallery_item(item) -%}

<div class="gallery_item">
    <div class="avatar">
        <a href="{% if item.url != "" -%}
                     {% if item.url.startswith("seeweb:") -%}
                         {{ request.static_url(item.url) }}
                     {% else %}
                         {{ item.url }}
                     {%- endif %}
                 {%- endif %}">
            <img class="img-rounded" src="{{ request.static_url('seeweb:data/gallery/%s/%s_thumb.png' % (item.project, item.id)) }}" />
        </a>
        <p>{{ item.name }}</p>
    </div>
    <div class="descr">
        <span>{{ item.description }}</span>
    </div>
</div>

{%- endmacro %}
