{% macro project_condensed(project, role) -%}
<div class="project">
    <div class="avatar">
        <a href="#">
            <img class="img-circle" src="{{ request.static_url('seeweb:data/avatar/project/%s_small.png' % project.id) }}" />
        </a>
    </div>
    <div class="name">
        <a href="#">{{ project.id }}</a>
    </div>
</div>
{%- endmacro %}
