{% macro list_projects(projects) -%}
{% for role, project in projects %}
    <div class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ request.static_url('seeweb:static/avatar/project/%s_small.png' % project.id) }}" />
                </div>
                <div class="col-md-10">
                    <a href="{{ request.route_url('project_view_home', pid=project.id) }}">{{ project.id }}</a>
                    {% if role == 2 %}
                    <a class="btn btn-default pull-right" href="{{ request.route_url('project_edit_home', pid=project.id) }}">
                      <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                      Edit project
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{%- endmacro %}
