{% macro project_condensed(project, role) -%}
<div class="project">
    <div class="avatar">
        <a href="{{ request.route_url('project_view_home', pid=project.id) }}">
            <img class="img-circle" src="{{ request.static_url('seeweb:data/avatar/project/%s_small.png' % project.id) }}" />
        </a>
    </div>
    <div class="name">
        <a href="{{ request.route_url('project_view_home', pid=project.id) }}">{{ project.id }}</a>
    </div>
</div>
{%- endmacro %}


{% macro gallery_item(project, img_name, descr) -%}
<div class="gallery_item">
    <div class="avatar">
        <a href="{{ request.static_url('seeweb:data/gallery/%s/%s.png' % (project.id, img_name)) }}">
            <img class="img-rounded" src="{{ request.static_url('seeweb:data/gallery/%s/%s_small.png' % (project.id, img_name)) }}" />
        </a>
    </div>
    <div class="descr">
        <span>{{ descr }}</span>
    </div>
</div>
{%- endmacro %}
