{% extends "project_layout.html" %}

{% block project_body %}

<div class="row">
    <div class="col-md-3">
        <img src="{{ request.static_url('seeweb:avatar/project/%s.png' % project.id) }}">
    </div>
    <div class="col-md-9">
        <h1>{{ project.id }}</h1>
        {% if allow_edit %}
            <a class="btn btn-default pull-right" href="{{ request.route_url('project_edit_%s' % tab, pid=project.id) }}">
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              Edit project
            </a>
        {% endif %}
        <p>Owner: <a href="{{ request.route_url('user_view_home', uid=project.owner) }}">{{ project.owner }}</a></p>
        <p>Visibility: {% if project.public %}Public{% else %}Private{% endif %}</p>
        <!-- rating -->

        {% for name, rating in ratings %}
            <div class="form-inline">
              <div class="form-group">
                <label>{{ name }}:</label>
                <input type="hidden" class="rating" data-fractions="2" data-readonly value="{{ rating }}">
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {% if sections|length > 0 %}
        <ul class="nav nav-pills nav-stacked nav-sidebar" data-spy="affix" data-offset-top="197">
            <li role="presentation">
                <a href="{{ request.route_url('project_view_%s' % tab, pid=project.id) }}">Top</a>
            </li>
            {% for section in sections %}
            <li role="presentation">
                <a href="{{ request.route_url('project_view_%s' % tab, pid=project.id, _anchor='%s' % section) }}">{{ section }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-md-9">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
              {% for tab_title, tab_id in tabs %}
                <li role="presentation" {% if tab_id == tab %}class="active"{% endif %}><a href="{{ request.route_url('project_view_%s' % tab_id, pid=project.id) }}">{{ tab_title }}</a></li>
              {% endfor %}
            </ul>

            <div class="container-fluid view_body">
                {% block project_view_body %}
                {% endblock %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
