{% from 'macro.jinja2' import project_condensed with context %}
{% from 'macro.jinja2' import project_fake with context %}
{% from 'content_item.jinja2' import content_item_condensed with context %}


{% extends "layout_view.jinja2" %}

{% block project_view_body -%}

<div id="host_descr" class="row">
    <div class="col-md-12">
        {% if project.src_url|length == 0 %}
            <p>No remote source associated to this project</p>
        {% else %}
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">src</div>
                  <input type="text" class="form-control" value="{{ project.src_url }}" disabled />
                </div>
            </div>
            {% if hostname == 'unknown' %}
                <p>Unrecognized host</p>
            {% else %}
                <p>hosted on <a href="{{ project.src_url }}">{{ hostname }}<img src="{{ request.static_url('seeweb:static/remote_host/%s.png' % hostname) }}" /></a></p>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row" id="dependencies">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dependencies</h3>
            </div>
            <div class="panel-body">
                {% if dependencies|length == 0 %}
                    <p>None</p>
                {% else %}
                    <div class="row">
                        {% for pjt, version, exists in dependencies %}
                            {% if exists %}
                                {{ project_condensed(pjt, version) }}
                            {% else %}
                                {{ project_fake(pjt, version) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
         </div>
    </div>
</div>

{% for category, items in content.items() %}
    {% if items|length > 0 %}
        <div class="row" id="{{ category }}">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ category|capitalize }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for item in items %}
                            {{ content_item_condensed(item) }}
                        {% endfor %}
                    </div>
                 </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{%- endblock %}
