{% from 'templates/comment/macro.jinja2' import list_comments with context %}
{% from 'templates/comment/macro.jinja2' import comment_submit_form %}

{% extends "layout_view.jinja2" %}

{% block project_view_body -%}

<div class="list-group">
    {% if comments|length == 0 %}
        <p class="list-group-item">No comment yet, add one?</p>
    {% else %}
        {{ list_comments(comments) }}
    {% endif %}
    {% if request.unauthenticated_userid != None %}
        <div id="edit comment" class="list-group-item">
            <form action="{{ request.route_url('comment_edit_new') }}" method='POST'>
                {{ comment_submit_form(request, project.id, "", ratings) }}
            </form>
        </div>
    {% endif %}
</div>

{%- endblock %}
