{% from 'templates/comment/macro.html' import list_comments with context %}
{% from 'templates/comment/macro.html' import comment_edit_form %}

{% extends "project_view.html" %}

{% block project_view_body %}

<div class="row" id="description">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
          </div>
          <div class="panel-body">
            {% if short_description|length == 0 %}
                Small description to be written
            {% else %}
                {{short_description }}
            {% endif %}
          </div>
         </div>
    </div>
</div>

<div class="row" id="gallery">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gallery</h3>
          </div>
          <div class="panel-body">
            Gallery
          </div>
         </div>
    </div>
</div>

<div class="row" id="comments">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
                {% if comments|length == 0 %}
                    <p class="list-group-item">No comment yet, add one?</p>
                {% else %}
                    {{ list_comments(comments) }}
                {% endif %}
                {% if current_uid != None %}
                    <div class="list-group-item">
                        <form action="{{ request.route_url('comment_edit_new') }}" method='POST'>
                            {{ comment_edit_form(request, current_uid, project.id, "", ratings, True) }}
                        </form>
                    </div>
                {% endif %}
            </div>
            <a class="btn btn-default" href="{{ request.route_url('project_view_comments', pid=project.id) }}">see all...</a>
          </div>
         </div>
    </div>
</div>

<div class="row" id="extra info">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Extra information</h3>
          </div>
          <div class="panel-body">
            Factual auto information
          </div>
         </div>
    </div>
</div>

{% endblock %}
