{% extends "project_view.html" %}

{% block project_view_body %}

<div class="row">
    <div class="col-md-12">
        {% if project.doc_url|length == 0 %}
        No remote documentation associated to this project
        {% else %}
        <a href="{{ project.doc_url }}">{{ hostname }}</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ doc }}
    </div>
</div>

{% endblock %}
