{% from 'templates/comment/macro.jinja2' import list_comments with context %}
{% from 'templates/comment/macro.jinja2' import comment_submit_form %}
{% from 'macro.jinja2' import gallery_item with context %}

{% extends "layout_view.jinja2" %}

{% block project_view_body -%}

<div class="row" id="description">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
          </div>
          <div class="panel-body">
            {% if description|length == 0 %}
                <p>Small description to be written</p>
            {% else %}
                {{ description }}
            {% endif %}
          </div>
         </div>
    </div>
</div>

<div class="row" id="gallery">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gallery</h3>
          </div>
          <div class="panel-body">
            {% if gallery|length == 0 %}
                <p>Empty gallery</p>
            {% else %}
                <div class="row">
                    {% for item in gallery %}
                        {{ gallery_item(item) }}
                    {% endfor %}
                </div>
            {% endif %}
          </div>
         </div>
    </div>
</div>

<div class="row" id="comments">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
                {% if comments|length == 0 %}
                    <p class="list-group-item">No comment yet, add one?</p>
                {% else %}
                    {{ list_comments(comments) }}
                {% endif %}
                {% if request.unauthenticated_userid != None %}
                    <div class="list-group-item">
                        <form action="{{ request.route_url('comment_edit_new') }}" method='POST'>
                            {{ comment_submit_form(request, project.id, "", ratings) }}
                        </form>
                    </div>
                {% endif %}
            </div>
            <a class="btn btn-default" href="{{ request.route_url('project_view_comments', pid=project.id) }}">see all...</a>
          </div>
         </div>
    </div>
</div>

<div class="row" id="extra info">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Extra information</h3>
          </div>
          <div class="panel-body">
            <p>Factual auto information</p>
          </div>
         </div>
    </div>
</div>

{%- endblock %}
