{% macro node_condensed(node, ndef) -%}

<div class="node condensed">
    <ul>
        <li>Name: <a href="{{ request.route_url('project_view_workflow_node', pid=project.id, nid=ndef['id']) }}">{{ node.name }}</a></li>
        <li>Descr: {{ node.description }}</li>
        <li>Function: {{ ndef['function'] }}</li>
        <li>Inputs:
            {% if ndef['inputs']|length == 0 %}
                None
            {% else %}
                <ul>
                    {% for port_def in ndef['inputs'] %}
                        <li>name: {{ port_def['name'] }}
                            <ul>
                                <li>descr: {{ port_def['description'] }}</li>
                                <li>interface: {{ port_def['interface'] }}</li>
                                <li>default: {{ port_def['value'] }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        <li>Outputs:
            {% if ndef['outputs']|length == 0 %}
                None
            {% else %}
                <ul>
                    {% for port_def in ndef['outputs'] %}
                        <li>name: {{ port_def['name'] }}
                            <ul>
                                <li>descr: {{ port_def['description'] }}</li>
                                <li>interface: {{ port_def['interface'] }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
</div>

{%- endmacro %}
