{% from 'workflow_node_macro.jinja2' import node_condensed with context %}

{% extends "layout_workflow_node.jinja2" %}

{% block workflow_body -%}
    {{ node_condensed(node, node.load_definition()) }}
{%- endblock %}
