{% extends "team_layout.html" %}

{% block team_body %}
<form action="{{ request.route_url('team_edit', tid=team.id) }}" method='POST'>
<div class="summary col-md-3">
    <div class="row">
        <img src="{{ request.static_url('seeweb:static/avatar.jpg') }}">
    </div>
    <div class="row">
        <h1>{{ team.id }}</h1>
    </div>
    <div class="row">
        <span class="input-group-addon">
            <input type="checkbox" value="visibility" name="visibility" {% if team.public %}checked{% endif %}> Public
        </span>
    </div>
</div>
<div class="content col-md-9">
    <div class="container col-md-12">
    <div class="row">
        <button class="btn btn-primary" type="submit" name="update">Update</button>
        <button class="btn" type="submit" name="default">Default</button>
        <button class="btn pull-right" type="submit" name="back">Back</button>
    </div>

    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Members</h3>
          </div>
          <div class="panel-body projects">
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>user</th>
                      <th>role</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                            <input type='text' name='new_member' placeholder='new user id'>
                        </td>
                        <td>
                            <select name="role">
                                <option value="denied">denied</option>
                                <option value="read" selected>read</option>
                                <option value="edit">edit</option>
                            </select>
                        </td>
                    </tr>
                    {% for role, uid in members %}
                    <tr>
                      <td>
                        <a href="{{ request.route_url('user_view_home', uid=uid) }}">{{ uid }}</a>
                      </td>
                      <td>
                        <select name="role_{{ uid }}">
                            <option value="denied" {% if role == 0 %}selected{% endif %}>denied</option>
                            <option value="read" {% if role == 1 %}selected{% endif %}>read</option>
                            <option value="edit" {% if role == 2 %}selected{% endif %}>edit</option>
                        </select>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
</form>
{% endblock %}
