{% macro team_condensed(team) -%}
<div class="team">
    <div class="avatar">
        <a href="{{ request.route_url('team_view_home', tid=team.id) }}">
            <img class="img-circle" src="{{ request.static_url('seeweb:data/avatar/team/%s_small.png' % team.id) }}" />
        </a>
    </div>
    <div class="name">
        <a href="{{ request.route_url('team_view_home', tid=team.id) }}">{{ team.id }}</a>
    </div>
</div>
{%- endmacro %}
