{% extends "team_layout.html" %}

{% block team_body %}
<form action="{{ request.route_url('team_edit_%s' % tab, tid=team.id) }}" method='POST'
      enctype="multipart/form-data">
<div class="summary col-md-3">
    <div class="row">
        <img src="{{ request.static_url('seeweb:avatar/team/%s.png' % team.id) }}">
    </div>
    <div class="row">
        <h1>{{ team.id }}</h1>
    </div>
</div>
<div class="content col-md-9">
    <div class="container col-md-12">
        <ul class="nav nav-tabs">
            {% for tab_title, tab_id in tabs %}
                <li role="presentation" {% if tab_id == tab %}class="active"{% endif %}><a href="{{ request.route_url('team_edit_%s' % tab_id, tid=team.id) }}">{{ tab_title }}</a></li>
            {% endfor %}
        </ul>
        <div class="form-group">
            <div class="row">
                <button class="btn btn-primary" type="submit" name="update">Update</button>
                <button class="btn" type="submit" name="default">Default</button>
                <button class="btn pull-right" type="submit" name="back">Back</button>
            </div>
        </div>

        <div class="row">
        {% block team_edit_body %}
        {% endblock %}
        </div>
    </div>
</div>
</form>
{% endblock %}
