{% extends "layout_view.jinja2" %}

{% block team_view_body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Registered</h3>
    </div>
    <div class="panel-body">
        {% if members|length == 0 %}
            <div class="row">
                <p>This team has no members.</p>
            </div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>user</th>
                      <th>role</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for role, uid in members %}
                    <tr>
                      <td>
                        <a href="{{ request.route_url('actor_view_home', uid=uid) }}">{{ uid }}</a>
                      </td>
                      <td>{{ role }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{%- endblock %}
