{% extends "templates/project/layout_content.jinja2" %}

{% block project_css -%}

<script src="{{ request.static_url('seeweb:static/js/easeljs-0.8.2.min.js') }}"></script>
<script src="{{ request.static_url('seeweb:project/content/workflow/static/workflow.js') }}"></script>

{%- endblock %}

{% block project_content_body -%}

<p>uid: {{ cnt_item.id }}</p>

<body onload="init();">
    <canvas id="workflow_canvas" width="800" height="600">
        <p>Workflow visual display</p>
    </canvas>
</body>

{%- endblock %}


{% block project_js %}
<script>
    var stage, output;

    function handleMouseEvent(evt) {
        output.text = "evt.target: "+evt.target+", evt.type: "+evt.type;

        if (evt.type == "click") {
            {% for nid, node_def in nodes.items() %}
                {% if node_def == None %}
                output.text = "no such node definition";
                {% else %}
                if (evt.target.name == '{{ nid }}') {
                    window.location = "{{ node_def['url'] }}";
                }
                {% endif %}
            {% endfor %}
        } else if (evt.type == "mouseover") {
            {% for nid, node_def in nodes.items() %}
                {% if node_def != None %}
                    {% for input in node_def['inputs'] %}
                    if (evt.target.name == '{{ nid }}/in:{{ input["name"] }}') {
                        output.text = "input port: {{ input['name'] }}";
                    }
                    {% endfor %}
                    {% for output in node_def['outputs'] %}
                    if (evt.target.name == '{{ nid }}/out:{{ output["name"] }}') {
                        output.text = "output port: {{ output['name'] }}";
                    }
                    {% endfor %}
                {% endif %}
            {% endfor %}
        }

        // to save CPU, we're only updating when we need to, instead of on a tick:1
        stage.update();
    }

    wv.handleMouseEvent = handleMouseEvent;

    function init() {
        var wkf = JSON.parse('{{ cnt_item.definition|safe }}');
        var nodes = JSON.parse('{{ ndef|safe }}');

        stage = new createjs.Stage("workflow_canvas");
        stage.enableMouseOver();

        output = new createjs.Text(wkf['name'], "14px Arial");
        output.x = output.y = 10;
        stage.addChild(output);

        wv.draw_workflow(stage, wkf, nodes);

        stage.update();
    }

</script>

{%- endblock %}
