{% extends "layout.jinja2" %}

{% block body -%}

<div class="container">
    <h1>Simple entry points to the community</h1>

    {% if request.unauthenticated_userid == None %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New to the community?</h3>
                </div>
                <div class="panel-body">
                    <p>Start browsing public projects
                    <a href="{{ request.route_url('ro_list', _query={'type': "container", 'toplevel': "yes"}) }}">here</a>
                    then
                    <a href="{{ request.route_url('user_register') }}">register</a>
                    to create an account and interact with the community.</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create a project from scratch</h3>
            </div>
            <div class="panel-body">
                <p><a href="{{ request.route_url('user_login') }}">Log in</a>,
                then in
                {% if request.unauthenticated_userid != None %}
                    <a href="{{ request.route_url('user_view_home', uid=request.unauthenticated_userid) }}">
                {% endif %}
                your home page on the project tab
                {% if request.unauthenticated_userid != None %}
                    </a>
                {% endif %}
                type the name of a new project to create. Click create and you'll
                be redirected to the edit page of your new project where you'll
                be able to add more information to describe your project, manage
                the people you want to collaborate with and upload some sources
                for other users to benefit from your work.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">I already have a public project on Github!</h3>
            </div>
            <div class="panel-body">
                <p><a href="{{ request.route_url('user_login') }}">Log in</a>
                and try our <a href="{{ request.route_url('ro_create') }}">direct interface to github</a>
                which create a new project and fetch all relevant information
                from your github project:</p>
                <ul>
                    <li>some general information if you already have a README file.</li>
                    <li>an avatar to represent your project if a file "avatar.png"
                    exists in your repository</li>
                    <li>a gallery of images if your have a 'gallery' directory with pictures
                    in it</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Can I make a project with a single file?</h3>
            </div>
            <div class="panel-body">
                <p>Sure! <a href="{{ request.route_url('user_login') }}">Log in</a>
                and <a href="{{ request.route_url('ro_create') }}">upload your file</a>.
                Provided your file is recognized by the system (i.e. notebook, workflow)
                we will extract some information from it to create a relevant project.</p>
                <ul>
                    <li>Name of the project will be the file name or title by default</li>
                    <li>The first cells of the notebook or header of your file will
                    be used for description.</li>
                    <li>If your script produces an image as a result, this one will
                    be used as an avatar of your project.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

{%- endblock %}
