{% extends "layout.html" %}

{% block css %}
  <link href="{{ request.static_url('seeweb:static/frontpage.css') }}" rel="stylesheet">
  {% block css2 %}
  {% endblock css2 %}
{% endblock css %}

{% block body %}
<div class="frontpage">
    <div class="row">
      <div class="col-md-2">
        <img class="logo img-responsive" src="{{ request.static_url('seeweb:static/pyramid.png') }}" alt="SEE web framework">
      </div>
      <div class="col-md-10 content">
          <h1><span class="font-semi-bold">See</span> <span class="smaller">Science Everyone Everywhere</span></h1>
          <p class="lead">Welcome to <span class="font-normal">SEE community</span>, a door to a better view on the world around :)</p>
      </div>
    </div>
    <div class="row tasks">
        <ul>
          <li><i class="glyphicon glyphicon-cloud"></i><a href="{{ request.route_url('home') }}">toto</a></li>
        </ul>
    </div>
    <div class="row links">
        <ul>
          <li><i class="glyphicon glyphicon-bookmark"></i><a href="{{ request.route_url('users_admin') }}">admin/users</a></li>
          <li><i class="glyphicon glyphicon-bookmark"></i><a href="{{ request.route_url('projects_admin') }}">admin/projects</a></li>
        </ul>
    </div>
</div>
{% endblock %}
