{% extends "layout.jinja2" %}

{% block css -%}
    <link href="{{ request.static_url('seeweb:static/css/login.css') }}" rel="stylesheet">
{%- endblock %}

{% block body -%}

<div class="col-md-6 col-md-offset-3">
    <div class="well">
        <form class="form-signin" action="{{ request.route_url('user_login') }}" method='POST'>
            <h3 class="form-signin-heading">Please sign in</h3>
            <label for="user_id" class="sr-only">Username</label>
            <input type="text" id="user_id" class="form-control" placeholder="login" name="user_id" required autofocus />
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="password" required />
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="ok">Sign in</button>
        </form>
        <div class="row">
            <span>No account yet?</span>
            <a href="{{ request.route_url('user_register') }}">Register</a>
        </div>
    </div>
</div>

{%- endblock %}

