{% macro main_banner() -%}

<div class="col-md-2">
    <a href="{{ request.route_url('home') }}">
        <img class="logo img-responsive" src="{{ request.static_url('seeweb:static/seeweb.png') }}" alt="SEE web framework" />
    </a>
</div>

<div class="col-md-10 content">
  <h1>
    <span class="font-semi-bold">See</span>
    <span class="smaller">Science Everyone Everywhere</span>
  </h1>

  <div class="spacer"></div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ request.route_url('user_list') }}">Individual</a></li>
                <li><a href="{{ request.route_url('team_list') }}">Team</a></li>
              </ul>
            </li>
            {% block navbar_top %}
            {% endblock %}
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="main_search" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              {% if request.unauthenticated_userid == 'revesansparole' %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ request.route_url('admin_users') }}">Users</a></li>
                    <li><a href="{{ request.route_url('admin_teams') }}">Teams</a></li>
                  </ul>
                </li>
              {% endif %}
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">lang <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
                <li><a href="#">Français</a></li>
              </ul>
            </li>-->
            {% if request.unauthenticated_userid == None %}
                <li><a href="{{ request.route_url('user_login') }}">login</a></li>
            {% else %}
                <li><p class="navbar-text">Signed in as <a href="{{ request.route_url('user_view_home', uid=request.unauthenticated_userid) }}" class="navbar-link">{{ request.unauthenticated_userid }}</a></p></li>
                <li><a href="{{ request.route_url('user_logout') }}">logout</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>

{%- endmacro %}
