{% extends "layout.html" %}

{% block body %}
<div class="container">
    <form class="form-signin" action="{{ request.route_url('user_register') }}" method='POST'>
        <h2 class="form-signin-heading">New user registration</h2>
        <label for="user_id" class="sr-only">Username</label>
        <input type="text" id="user_id" class="form-control" placeholder="login" name="user_id" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="edit_after"> Edit profile afterward
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="ok">Register</button>
    </form>
</div>
{% endblock %}

