{% extends "templates/project/layout_content.jinja2" %}

{% block project_content_body -%}

<div class="well">
    {{ cnt_item.html_description()|safe }}
</div>

<div>
</div>

<div class="well debug">
    {{ cnt_item.definition }}
</div>

{%- endblock %}
