.frontpage .jumbotron {
    background: #444444;
    margin-top: 50px;
}

.frontpage .jumbotron .lead {
  font-size: 25px;
  color: #eeeeee;
}

.frontpage .jumbotron .lead .font-normal {
  color: #ffffff;
}


.frontpage .panel-heading {
    background: #bc2131;
}

.frontpage .panel-heading h3{
    color: #ffffff;
}

.frontpage .wrapper {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.frontpage .wrapper img {
    width: 128px;
}

.frontpage .wrapper .label {
    position: absolute;
    top: 60px;
    left: 20px;
    color: #000000;
    opacity: 0.5;
}
