body {
  color: #000000;
  background: #ffffff;
}

.comment {
    margin: 0 1em 1em 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #dddddd;
}

.comment .score {
    width: 100%;
    text-align: center;
    padding: 0.3em 0 0.3em 0;
}

.project {
    float: left;
    padding: 1em;
    min-width: 180px;
}

.project .avatar {
   display: inline;
}

.project .name {
    display: inline;
    vertical-align: bottom;
}
