/* overall definitions */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html {
    height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555555;
  background: #ffffff;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

a {
    color: #000050;
}

textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.debug {
    padding: 1em;
    background: #aaaaff;
    border: solid 1px #aaaaaa;
}

.wrapper {
   position: relative;
}

.wrapper .glyphicon {
   position: absolute;
   top: 20px;
   left: 20px;
}

.frontpage .wrapper {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.frontpage .wrapper img {
    width: 128px;
}

.frontpage .wrapper .label {
    position: absolute;
    top: 60px;
    left: 20px;
    color: #000000;
}

/* related to main layout */

#banner {
    background: #bc2131;
    color: #ffeeee;
    padding-top: 0.4em;
}

#banner .spacer {
    padding-top: 1em;
}

#flash-msg {
    background: #ffffff;
}

#main-content {
    background: #ffffff;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#push,
#footer {
    height: 60px;
}

#footer {
    margin-top: 1em;
    padding: 1em;
    background: #000000;
    color: #bc2131;
}

.copyright {
  font-size: 0.9em;
  color: #bc2131;
}

/* Wrapper for item summary elements */

.condensed {
    float: left;
    display: table
}

.condensed .avatar {
    display: table-cell;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.condensed .avatar img {
    width: 64px;
}

.condensed .description {
    display: table-cell;
    vertical-align: bottom;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Wrapper for 'view' pages */

.partner-table {
    display: table;
    height: 100%;
}
.partner {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#header {
    margin-top: 0.2em;
    text-align: bottom;
}

#header .avatar {
    vertical-align: bottom;
}

#header .avatar img {
    max-width: 256px;
    max-height: 256px;
}

#header .description {
    padding-left: 1em;
    vertical-align: bottom;
}

#header .description .spacer {
    height: 50px;
}

#content {
    background: #ffffff;
    padding: 0.2em;
}

/* Wrapper for 'edit' pages */

#action-tools .btn-warning {
    display: block;
    margin-top: 1em;
}

#action-tools .btn-danger {
    display: block;
    margin-top: 2em;
}

#edit_avatar .btn-file {
    display: inline-block;
}

#upload_file .btn-file {
    display: inline-block;
}

