body {
  color: #000000;
  background: #ffffff;
}

div.summary img {
    width: 100%;
}


.user {
    float: left;
    padding: 1em;
    min-width: 180px;
}

.user .avatar {
   display: inline;
}

.user .name {
    display: inline;
    vertical-align: bottom;
}