
.user_header {
    margin-top: 0.2em;
}

.user_header .avatar {
    vertical-align: bottom;
}

.user_header .avatar img {
    width: 100%;
    max-width: 256px;
}

.user_header .name {
    padding-left: 1em;
    vertical-align: bottom;
}

.user_header .name .spacer {
    height: 50px;
}
